body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
td, th{
    border: 1PX solid black;
    
}
caption{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    position: sticky;
    background-color: aquamarine;
}
.cnome{
    background-color: chartreuse;
}
.csexo, .cidade{
    background-color: aqua;
}
.cprofissao{
    background-color: rgb(231, 192, 200);
}
.destaque {
    background-color: rgb(165, 126, 42)
}