.cap01{
    color: brown;
    background-color: aquamarine;
    font-size: 70px;
}
.cap01_1 {
    color: aliceblue;
    background-color: blueviolet;
    font-family: 'Segoe UI';
}
p{
    font-size: 30px;

}
ol {
    font-size: 20px;
}
