/* Extra small mobile: 320–480 pixels
Small tablet: 601–768 pixels
Small desktop or laptop: 1025–1280 pixels
Large desktop or high-resolution screen: 1281–1440 pixel */


@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background: url(../img-25/back-print.jpg);
        
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    #fone{
        display: none;
    }
    #print{
        display: block;
    }
    #tablet{
        display: none;
    }
    #pc{
        display: none;
    }
    #tv{
        display: none;
    }

}
/* Tablet */
@media screen and (min-width:601px) and (max-width:768px) {
    body{
        background: url(../img-25/back-tablet.jpg);
    }
    #fone{
        display: none;
    }
    #print{
        display: none;
    }
    #tablet{
        display: block;
    }
    #pc{
        display: none;
    }
    #tv{
        display: none;
    }

}
/* desktop */
@media screen and (min-width:1025px)  and (max-width:1280px){
    body{
        background: url(../img-25/back-pc.jpg);
    }
    #fone{
        display: none;
    }
    #print{
        display: none;
    }
    #tablet{
        display: none;
    }
    #pc{
        display: block;
    }
    #tv{
        display: none;
    }
    
}
/* tv */
@media screen and (min-width:1281px)  and (max-width:1440px){
    body{
        background: url(../img-25/back-tv.jpg);
    }
    #fone{
        display: none;
    }
    #print{
        display: none;
    }
    #tablet{
        display: none;
    }
    #pc{
        display: none;
    }
    #tv{
        display: block;
    }
    
}