.container{
    background-color: salmon;
    display: flex;    
    flex-flow: row nowrap;
}

.item{
    background-color: lightskyblue;
    border: 1px solid black;
    /* flex: auto; */
    text-align: center;
    padding: 10px;
}
#alinhamento > .container{
    justify-content: space-around;
    height: 300px;
    align-items: center;
}