body{
    font-family: Arial, Helvetica, sans-serif;
}
td{
    border: 1px solid black;
    padding: 8px;
}
table{
    width: 400px;
    border-collapse: collapse;
}
tr{
    background-color: #7f7e81;
}
.dado{
    background-color: aquamarine;
}
.linha1{
    background-color: chartreuse;
}