*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 159, 189);
}
main{
    background-color: lightgreen;
    height: 90vw;
    width: 90vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#centro{
    background-color: lightcoral;
    height: 200px;
    width: 200px;
}
#conteudo-empacotado{
    .container{
        background-color: salmon;
        
        display: flex;    
        flex-flow: row wrap;
        height: 400px;
        align-content: stretch;
        
    }
    
.item{
        background-color: lightskyblue;
        border: 1px solid black;
        text-align: center;
        padding: 40px;
    }


}
